#about { 
	background-color: white;
    border-color: purple;
    border-style: solid;
    border-width: 5px;
    border-radius: 20px;
    padding: 50px;
    margin: 50px;	
	
}


.first {
	font-size: 45px;
	font-family: Italic;
	
}

.second {
    font-size: 20px;
    

	
}

table {
	float: right;
	border-collapse: collapse;
	border-spacing: 0;
}


th, td {
  padding: 25px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#tableclass {
	float: right;
	
}

h1 {
	text-align: center;

}

p.clear {
  clear: both;
 
}