p {
	font-family: "Arial Black", Gadget, sans-serif;
	margin-left:80px;
	margin-right:80px;
	text-align: justify;
	
}
h1 {
	font-family: "Arial Black", Gadget, sans-serif;
	text-align: center;
	
}
.article {
	background-color: white;
    border-color: purple;
    border-style: dashed;
    border-width: 5px;
    border-radius: 20px;
    padding: 50px;
    margin: 100px;
    margin-left: 250px;
    margin-right: 250px;
}


#logo {
	border-radius: 70%;
	float: left;
	border-width: none;
}

.video {
	float: right;
	margin-left:25px;
	margin-right:80px;
}
