
/* DEFAULT CSS PAGE*/
body{
	background-image: url("https://images.pexels.com/photos/3165335/pexels-photo-3165335.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
	 background-repeat: no-repeat;
 	 background-attachment: fixed;
	
	background-size: cover;
	background-position: absolute;
	
	
}

body div a{
	
	font-family: "Arial Black", Gadget, sans-serif;
}
h3 {
	
	font-family: "Arial Black", Gadget, sans-serif;
	
}

#nav{ 
	background-color: #222222;
	position: -webkit-sticky; 
	position: sticky;
	top: 0;
}