@charset "UTF-8";
/*BACKGROUND*/
/*body {
	background-image: url("https://images.pexels.com/photos/3165335/pexels-photo-3165335.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
	background-size: cover;
	background-position: absolute;
	
}*/
/*Navbar*/

/*CAROSELLO IMMAGINI*/
html *{
    -webkit-font-smoothing: antialiased;
}

h3{
    font-weight: 300!important;
    font-size: 25px !important;
}

h4{
    font-size: 18px !important;
    font-weight: 300 !important;
}




.card.card-carousel {
    border: 0;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 6px ;
    color: rgba(0,0,0,.87);
    background: #fff;
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.card.card-carousel img{
    border-radius: 6px;
}



.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

.carousel .carousel-indicators {
    bottom: 5px;
}

.carousel .carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    text-indent: -999px;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2);
    border-radius: 2px;
}

.carousel .carousel-indicators .active{
    margin: 11px 10px; 
} 

.carousel .carousel-indicators li {
    margin: 11px 10px;
}

.carousel .carousel-indicators .active {
    margin-top: 10px;
    transform: scale(1.5);
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-item {
    position: relative;
    display: none;
    align-items: center;
    width: 100% !important;
    transition: transform .6s ease;
    backface-visibility: hidden;
    perspective: 1000px;
}

.carousel-item.active {
    display: block;
}

.carousel .carousel-caption {
    padding-bottom: 45px;
}

.carousel .carousel-caption .material-icons {
    position: relative;
    top: 5px;
}

.carousel .carousel-control-next .material-icons{
    z-index: 5;
    display: inline-block;
    font-size: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    margin: auto;
}

.carousel .carousel-control-prev .material-icons {
    z-index: 5;
    display: inline-block;
    font-size: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    margin: auto;
}

/*LOGIN FORM*/
#login {
	background-color: #222222;
    border-color: black;
    color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    padding: 15px;
    margin: 24px;
    float: right;
   
}

#article-preview {
	color: white;
    border-width: 2px;
    border-radius: 15px;
    padding: 10px;
    margin: 15px;
    
}



#logo {
	border-radius: 70%;
	float: left;
	border-width: none;
}
/*BUTTON SETTING*/
button {
	opacity: 0.7;

}
