body{
    background-color:#00ffff
}
.forget-pwd > a{
    color: #dc3545;
    font-weight: 500;
}
.forget-password .panel-default{
    padding: 31%;
    margin-top: -27%;
}
.forget-password .panel-body{
    padding: 15%;
    margin-bottom: -50%;
    background: #6f7a85;
    border-radius: 5px;
   
  border-bottom:1px solid #434a52;
  text-align:center;
  font-size:12px;
  opacity:0.9;
  text-decoration:none;
 
}
img{
    width:40%;
    margin-bottom:10%;
}
.btnForget{
    background:#214a80;
    outline:none;
}
.forget-password .dropdown{
    width: 100%;
    border: 1px solid #80ffff;
    border-radius: .25rem;
}
.forget-password .dropdown button{
    width: 50%;
}
.forget-password .dropdown ul{
    width: 100%;
}